@model IEnumerable<MovieModel.MovieBySearch>

@{
    ViewData["Title"] = "Movies";
}

<div class="container">
    <div class="row row-cols-5">
        @foreach (var movie in Model)
        {
            <div class="col">
                <div class="card">
                    <img src="@movie.Poster" alt="@movie.Title" width="200" height="300">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">Released in @movie.Year</p>
                        <a class="btn btn-outline-primary">Select Movie</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
