@{
    ViewData["Title"] = "About";
}

<div class="container">
    <p class="fs-4">Welcome to SearchMovie powered by OMDb API, a simple movie search tool that allows you to quickly and easily find your favorite movies.</p>

    <p class="fs-4">As a movie lover myself, I know how frustrating it can be to spend hours searching for the perfect film. That's why I created this tool - to make it easy for you to find what you're looking for without the hassle.</p>

    <p class="fs-4">Using this website is simple. Just type in the name of the movie you're looking for, and our powerful search algorithm will quickly scan through a vast database of films to provide you with accurate and relevant results.</p>

    <p class="fs-4">So go ahead and give it a try - you might just discover your new favorite film!</p>
</div>