@{
    ViewData["Title"] = "Contact";
}

<div class="container text-center p-5">
    <div class="py-5">
        <h1 class="display-4">Contact Me</h1>
        <p class="fs-4">Do you want contact me? Click any button!</p>

        <a href="mailto:evandro_remolli.t@outlook.com" class="btn btn-outline-primary">Email</a>
        <a href="https://github.com/Evandru" class="btn btn-dark">Github</a>
        <a href="https://www.linkedin.com/in/evandro-remolli-8b6b9b227/" class="btn btn-primary">LinkedIn</a>
    </div>



    <div class="p-4 m-3 d-flex flex-column justify-content-center align-items-center border-top">
        <div class="col p-2">
            <h3 class="fs-6">Email</h3><a href="mailto:evandro_remolli.t@outlook.com" class="fs-6 p-2">evandro_remolli.t@outlook.com</a>
        </div>
        <div class="col p-2">
            <h3 class="fs-6">Github</h3><a href="https://github.com/Evandru" class="fs-6 p-2">github.com/Evandru</a>
        </div>
        <div class="col p-2">
            <h3 class="fs-6">LinkedIn</h3><a href="https://www.linkedin.com/in/evandro-remolli-8b6b9b227/" class="fs-6 p-2">linkedin.com/in/evandro-remolli-8b6b9b227/</a>
        </div>
    </div>
</div>